@media (max-width: 500px) {
  #calculator{
    padding-left: 10px;
    width: 80vw;
    grid-template-columns: repeat(4, 25%);
  }
}
::-webkit-scrollbar{
  display: none;
}
.calculator {
  height: 370px;
  width: 335px;
  border-radius: 5px;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}